@{
    Layout = null;
}
@model RegisterVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/manage/assets/css/login.css">
    <title>Admin Register</title>
</head>

<body class="login-page">
    <div class="login-box">
        <h2 class="heading-login-box">Register</h2>
        <form asp-controller="AdminRegister" asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="user-box">
                <span asp-validation-for="Firstname" class="text-light"></span>
                <input asp-for=Firstname class="user-box-input" autocomplete="off">
                <label asp-for=Firstname class="user-box-label">Firstname</label>
            </div>
            <div class="user-box">
                <span asp-validation-for="Lastname" class="text-light"></span>
                <input asp-for=Lastname class="user-box-input">
                <label asp-for=Lastname class="user-box-label">LastName</label>
            </div>
            <div class="user-box">
                <span asp-validation-for="Username" class="text-light"></span>
                <input asp-for=Username class="user-box-input" autocomplete="off">
                <label asp-for=Username class="user-box-label">UserName</label>

            </div>
            <div class="user-box">
                <span asp-validation-for="Email " class="text-light"></span>
                <input asp-for=Email class="user-box-input" autocomplete="off">
                <label asp-for=Email class="user-box-label">Email</label>

            </div>
            <div class="user-box">
                <span asp-validation-for="Password" class="text-light"></span>
                <input asp-for=Password class="user-box-input " autocomplete="off">
                <label asp-for=Password class="user-box-label">Password</label>
            </div>
            <div class="user-box">
                <span asp-validation-for="ConfirmPassword" class="text-light"></span>
                <input asp-for=ConfirmPassword class="user-box-input" autocomplete="off">
                <label asp-for=ConfirmPassword class="user-box-label">Confirm Password</label>
            </div>
            <div class="user-box">
                <span asp-validation-for="Terms" class="text-light"></span>
                <input asp-for="Terms">
                <span style="color: #8ab0df">Accepted Registration </span>
            </div>

            <a type="submit" class="login-box-button href_admin" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
            <a class="login-box-button " asp-controller="dashboard" asp-action="index">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Go back
            </a>
            <button type="submit" class="sbmt_btn" style="display:none"></button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        var hrefAdminButton = document.querySelector('.href_admin');

        var sbmtButton = document.querySelector('.sbmt_btn');

        hrefAdminButton.addEventListener('click', function () {
            sbmtButton.click();
        });
    </script>
</body>

</html>