@model AccountVM   
 
<section id="Login">

        <div class="login">
            <form>
                  <div class="email-password-text">
                <div class="-main-text">
                    <h6 class="text">Emaili daxil edin.</h6>
                </div>
                <div class="email">
                    <label for="Email">E-poçt</label>
                     <input asp-for="User.Email" placeholder="Email">
                </div>
            </div>
            <div class="login-button">
                <div class="login-button">
                    <button type="submit" class="btn submit-btn">Təsdiq</button>
                </div>
            </div>
            </form>
            <div class="register-button">
            <button class="btn register-btn"><a asp-controller="account" asp-action="Login">Login</a></button>
            </div>
        </div>

    </section>