    <section id="Login">

        <div class="login">
            <div class="email-password-text">
                <div class="-main-text">
                    <h6 class="text">HESABA DAXİL OL</h6>
                </div>
                <div class="email">
                    <label for="Email">E-poçt</label>
                    <input type="email" id="Email">
                </div>
                <div class="password">
                    <label for="Password">Password</label>
                    <input type="password" id="password">
                </div>

            </div>
            <div class="login-button">
                <div class="login-button">
                    <button type="submit" class="btn submit-btn">DAXİL OL</button>
                </div>
            </div>
            <div class="resert-forgot">
                <a href=""><span>Şifreni unutmuz?</span></a>
            </div>
            <div class="register-button">
                <button class="btn register-btn">QEYDİYYAT</button>
            </div>
        </div>

    </section>