@model LoginVm

    <section id="Login">

        <div class="login">
        <form asp-controller="account" asp-action="login">
                  <div class="email-password-text">
                <div class="-main-text">
                    <h6 class="text">HESABA DAXİL OL</h6>
                </div>
                <div class="email">
                    <label for="UserName">Istifadeçi adı</label>
                    <input asp-for=UserName placeholder="Istifadeçi adı" required>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="password">
                    <label for="Password">Password</label>
                    <input asp-for="Password" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                    <div class="form-remember-me">
        <label for="">
            <input asp-for="RememberMe" name="" id="">
            Remember Me
        </label>
    </div>

            </div>
            <div class="login-button">
                <div class="login-button">
                    <button type="submit" class="btn submit-btn">DAXİL OL</button>
                </div>
            </div>
            </form>
            <div class="resert-forgot">
                <a ><span>Şifreni unutmuz?</span></a>
            </div>
            <div class="register-button">
            <button class="btn register-btn"><a asp-controller="account" asp-action="register">QEYDİYYAT</a></button>
            </div>
        </div>

    </section>