<section id="Register">
    <form action="">
        <div class="register-text-button-input">
            <div class="text">
                <h5>QEYDİYYAT</h5>
            </div>
            <div class="label-input">

                <div class="row">

                    <div class="label-left col-6">

                        <label for="Name">
                            Ad
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="text" placeholder="Adı daxil et" id="Name"><br>
                        <label for="Email">
                            E-poçt
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="email" placeholder="Hello@gmail.com" id="Email"><br>
                        <label for="">
                            Şifrə
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="password" placeholder="**">
                    </div>
                    <div class="lable-right col-6">
                        <label for="">
                            Soyad
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="text" placeholder="Soyadı daxil et"><br>
                        <label for="Number">
                            Telefon
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="text" placeholder="055 690 16 09" id="Number"><br>
                        <label for="">
                            Şifrə təkrarı
                        </label><br>
                        <input style="width: 250px; height: 45px;" type="password" placeholder="**">
                    </div>
                </div>

            </div>
        </div>
        <div class="checkbox">
            <input type="checkbox">
            <a href="">"Alıcı razilaşması"</a>
            <span>nin şərtlərini oxudum və şərtlət ilə razıyam</span>
        </div>
        <div class="register-button">
            <button class="btn register-btn">QEYDİYYAT</button>
        </div>

    </form>
</section>