

    <section class="section-1-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="slider col-lg-3">
                            <div class="thumbnail">
                                <img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt="">
                            </div>
                            <div class="thumbnail">
                                <img src="assets/images/products/49ba753b73add672dcc8f828e4461adf.jpg" alt="">
                            </div>
                            <div class="thumbnail">
                                <img src="assets/images/products/4d9e6d26ce35c9ca815faa5b1bdef892.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9" id="main-div"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p class="name-p">Blackspade Qadın Alt Paltarı</p>
                        <p class="code-p">Code: 58527</p>
                        <span class="price-span">₼ 18,00</span>
                        <hr>
                    </div>
                    <div>
                        <p class="color-p">Rəng:</p>
                        <span></span>
                        <hr>
                    </div>
                <form asp-controller="shop" asp-action="AddBasket">
                    <input type="text" id="size-s" name="id" value="1">

                    <div class="size-select">
                        <p>Ölçü:</p>
                        <div class="sizes">
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="S">
                                S
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="M">
                                M
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="XL">
                                XL
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="XXL">
                                XXL
                            </label>
                            <hr>
                        </div>
                    </div>
                    <div>
                        <button class="buy-button">SƏBƏTƏ AT</button>
                        <br>
                        <p class="share-product-p">Məhsulu paylaş:</p>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-pinterest"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="section-2-detail">
        <div class="container">
            <h1>MƏHSULLAR</h1>
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
            </div>
            <div class="kisi-button-div">
                <button>KİŞİ</button>
            </div>
        </div>
    </section>
