@model Product

    <section class="section-1-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="slider col-lg-3">
                            @foreach (var item in Model.ProductImages)
                        {
                                  <div class="thumbnail">
                                <img src="~/uploads/products/@item.Image" alt="">
                            </div>
                        }
                       
                        </div>
                        <div class="col-lg-9" id="main-div"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p class="name-p">@Model.Name</p>
                        <p class="code-p">Code: @Model.Id</p>
                        <span class="price-span">₼ @Model.Price</span>
                        <hr>
                    </div>
                    <div>
                        <p class="color-p">Rəng:</p>
                        <span></span>
                        <hr>
                    </div>
                <form asp-controller="shop" asp-action="AddBasket">
                    <input type="hidden" id="size-s" name="id" value="@Model.Id">

                    <div class="size-select">
                        <p>Ölçü:</p>
                        <div class="sizes">
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="S">
                                S
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="M">
                                M
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="XL">
                                XL
                            </label>
                            <label for="size-s">
                                <input type="radio" id="size-s" name="size" value="XXL">
                                XXL
                            </label>
                            <hr>
                        </div>
                    </div>
                    <div>
                        <button class="buy-button">SƏBƏTƏ AT</button>
                        <br>
                        <p class="share-product-p">Məhsulu paylaş:</p>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-pinterest"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="section-2-detail">
        <div class="container">
            <h1>MƏHSULLAR</h1>
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div>
                        <div><img src="assets/images/products/0c9e0fef2a43de0d2a7bcc5c48e7ea9e.jpg" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
            </div>
            <div class="kisi-button-div">
                <button>KİŞİ</button>
            </div>
        </div>
    </section>
