@model List<Product>
<section class="section-1-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
                <div class="row">
                @foreach (var item in Model)
                    {
                             <div class="col-lg-4">
                        <div>
                            <div><a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" >
                                        <img src="~/uploads/products/@item.ProductImages.First().Image" alt="">
                            </a></div>
                        </div>
                        <div>
                            <h5>@item.Name</h5>
                            <p>Kod:@item.Id</p>
                            <span>₼ @item.Price</span>
                        </div>
                    </div>
                    }
                
                </div>
            </div>
        </div>
    </div>
</section>