<section id="slick" class="section-1-about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="about-h3-div">
                <h3>
                    ABOUT OUR COMPANY
                </h3>
            </div>
            <div class="col-lg-11">
                <div class="slider-content">
                    <div class="slider-items">
                        <div>
                            <img src="assets/images/main photos/sl_1_91TY65m.png" alt="">
                        </div>
                    </div>
                    <div class="slider-items">
                        <div>
                            <img src="assets/images/main photos/kisi_geyim.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-2-about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div>
                    <p>
                        Sirr deyil ki, geyim insanların daxili hisslərini təzahür etdirir. Siz geyim seçərkən, onu yalnız gündəlik geyim olaraq istifadə etmək deyil, həmçinin özünüzə verdiyiniz qiyməti və sosial statusunuzu ifadə edirsiniz. Şübhəsiz ki, buna nail olmaq üçün seçim imkanınız olmalıdır. ÇİNİCİ mağazaları geniş geyim çeşidi ilə sizə əsl seçim azaldığı təklif edir.
                    </p>
                    <p>
                        ÇİNİCİ mağazası ilk dəfə 1995-ci ildə Bakı şəhərində fəaliyyətə başlamışdır. Mağazalarımız Türkiyənin ən məşhur geyim ticarət nişanlarını Azərbaycanda təmsil edir.
                    </p>
                    <p>
                        ÇİNİCİ mağazalarında zövqünüzü oxşayacaq geniş çeşiddə kişi, qadın və uşaq geyimləri, aksesuarları tapa bilərsiniz
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
