<section class="section-1-branches">
    <div class="container">
        <div class="row justify-content-between">
            <div class="h3-div">
                <h3>
                    SHOPS
                </h3>
            </div>
            <div class="col-lg-4">
                <div class="branch-box">
                    <h5>Çinici Nərimanov</h5>
                    <div>
                        <img src="assets/images/main photos/branch1.png" alt="">
                    </div>
                    <div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Həsənoğlu küç,.14</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-phone"></i>
                            <p>(+994) 12 566 77 85</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-tty"></i>
                            <p>(+994) 55 250 57 90</p>
                        </div>
                    </div>
                    <div class="button-div-branch">
                        <button>Show on map</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="branch-box">
                    <h5>Çinici Nərimanov</h5>
                    <div>
                        <img src="assets/images/main photos/branch1.png" alt="">
                    </div>
                    <div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Həsənoğlu küç,.14</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-phone"></i>
                            <p>(+994) 12 566 77 85</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-tty"></i>
                            <p>(+994) 55 250 57 90</p>
                        </div>
                    </div>
                    <div class="button-div-branch">
                        <button>Show on map</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="branch-box">
                    <h5>Çinici Nərimanov</h5>
                    <div>
                        <img src="assets/images/main photos/branch1.png" alt="">
                    </div>
                    <div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Həsənoğlu küç,.14</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-phone"></i>
                            <p>(+994) 12 566 77 85</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-tty"></i>
                            <p>(+994) 55 250 57 90</p>
                        </div>
                    </div>
                    <div class="button-div-branch">
                        <button>Show on map</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="branch-box">
                    <h5>Çinici Nərimanov</h5>
                    <div>
                        <img src="assets/images/main photos/branch1.png" alt="">
                    </div>
                    <div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Həsənoğlu küç,.14</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-phone"></i>
                            <p>(+994) 12 566 77 85</p>
                        </div>
                        <div class="icon-div-branch">
                            <i class="fa-solid fa-tty"></i>
                            <p>(+994) 55 250 57 90</p>
                        </div>
                    </div>
                    <div class="button-div-branch">
                        <button>Show on map</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
