<section class="section-1-conditions">
    <div class="container">
        <div class="row">
            <div class="h3-div">
                <h3>
                    ŞƏRTLƏR VƏ QAYDALAR
                </h3>
            </div>
            <div class="col-lg-12">
                <strong>ƏSAS ANLAYIŞLAR </strong>
                <p>
                    ALICI RAZILAŞMASI (RAZILAŞMA) – bu sənəddə onlayn alış ilə bağlı aşağıda əks olunan bütün şərtlər. <br>
                    ALICI – “www.cinici.az” internet səhifəsinin verdiyi texniki imkanlar vasitəsi ilə elektron/onlayn və ya nağd (qapıda) formada ödəniş edərək saytda qeyd olunmuş məhsulları sifariş edən/alan, həmçinin bu “Alıcı razılaşması”nın şərtləri ilə razılaşan fiziki və ya hüquqi şəxs. <br>
                    SATICI  – saytda öz mallarını/xidmətlərini onlayn qaydada satan, satış və çatdırılma şərtlərini özü müəyyən edən hüquqi şəxs - MONDITEX MMC (hüquqi ünvanı: AZ1021, Bakı ş., Səbail r.-nu, Badamdar Ştq, Massiv 1 (Badamdar qəs.), ev 430, 9-cu döngə; VÖEN: 1701441571). <br>
                    SAYT – məhsulların onlayn satış məkanı olan, MONDITEX MMC-yə məxsus “www.cinici.az” internet səhifəsi; <br>
                    MƏHSULLAR – saytda yerləşdirilmiş geyim, aksesuar və digər əşyalar olan əmtəələr. <br>
                    SİFARİŞ – alıcının müəyyən etdiyi ünvana çatdırılması məqsədilə saytdan məhsul alınması məqsədilə alıcı tərəfindən saytda mövcud olan müvafiq formanın doldurularaq satıcıya elektron formada göndərilməsi. <br>

                    <strong>XÜSUSİ ŞƏRTLƏR </strong> <br>

                    1. Razılaşmanın predmetini alıcı tərəfindən şəxsi və digər məqsədər üçün saytda əks olunan məhsulların alınması və digər formada istifadəsində imkan yaradılması təşkil edir. Bu razılaşma şərtləri saytda cari vaxtda satışda olan bütün məhsullara şamil olunur. <br>
                    2. Satıcı öz məhsullarının www.cinici.az saytı vasitəsilə satılmasını təmin edir. <br>
                    3. Saytdan məhsul sifariş edən alıcı bu razılaşmanın şərtləri ilə tam razılaşdığını bəyan edir. <br>
                    4. Saytda satılan məhsullar, həmçinin satış şərtləri Azərbaycan Respublikasının qüvvədə olan Mülki Məcəlləsinin 408-ci maddəsinə əsasən ümumi oferta (təklif) hesab olunur. <br>
                    5. Satıcı alış həyata keçirilənədək alış şərtlərini heç kimə xəbərdarlıq etmədən dəyişdirə bilər. <br>
                    6. Alış o vaxt baş tutmuş sayılır ki, alıcı məhsulun dəyərini kassa çeki və ya alğı-satqını təsdiq edən digər sənəd qarşılığında hər hansı formada (elektron/nağd) ödəmiş olsun. <br>
                    7. Saytda olan sifariş formasını doldurmaqla alıcı özünə aid əlaqə vasitələri barədə məlumatların satıcı və ya satıcının müəyyən etdiyi digər şəxslər tərəfindən istifadəsinə etiraz etmir. Bura gələcəkdə alıcıya müxtəlif endirim kampaniyaları və digər əlaqəli məlumatların göndərilməsi aiddir. <br>
                    8. Sifariş alıcı ilə satıcı arasında bağlanılmış müqavilə hesab olunur. <br>
                    9. “www.cinici.az” səhifəsində texniki-profilaktik işlərin aparıldığı günlərdən, aşağıda qeyd olunan və fors-major hallardan başqa, alıcı günün, ayın, ilin instənilən vaxtı saytın xidmətlərindən istifadə edə bilər. Satıcının iradəsindən kənar səbəblərdən dolayı saytın fəaliyyətinin istənilən müddətdə dayanması, habelə satıcının bu razılaşmadan irəli gələn öhdəliklərinin icrasının qeyri-mümkünlüyü səbəbindən alıcıya zərər dəyərsə, bu halda satıcı/saytın mülkiyyətçisi hər hansı məsuliyyət daşımır. <br>
                    11. Saytda satış üçün nəzərdə tutulmuş malların şəkilləri illüstrativ təyinatlı olmaqla alınmış malla 100% eyni olmaya bilər. Məlumatlarda əhəmiyyətli çatışmazlıq olduğu təqdirdə, alıcı sayta yazılı müraciət ünvanlaya bilər. <br>
                    12. Saytda görsənməsinə baxmayaraq əgər sifariş verilmiş mal satıcının anbarında yoxdursa, satıcı bu barədə ən qısa vaxt ərzində alıcıya xəbər verməklə sifarişi ləğv edir. <br>
                    13. Alıcı tərəfindən yanlış məlumat verilməsi nəticəsində sifarişin icra edilməməsinə görə satıcı/saytın mülkiyyətçisi məsuliyyət daşımır. <br>
                    14. Sifariş verildikdən sonra alıcının ünvanının məsafəsindən asılı olaraq satıcı sifarişin çatıdırılma tarixi, vaxtı və digər şərtləri barədə alıcıya məlumat verir. Çatdırılma xidməti kuryer şirkəti tərəfindən həyata keçirilirsə, müvafiq məlumatlar saytda qeyd edilir. <br>
                    15. Əgər buna obyektiv səbəb varsa, məhsulların çatdırılma vaxtı/tarixi satıcı tərəfindən birtərəfli qaydada dəyişdirilə bilər. <br>
                    16. Çatdırılma və ya digər problemlər ilə bağlı alıcı sayt vasitəsilə satıcıya öz şikayətlərini elektron qaydada təqdim edə bilər. <br>
                    17. Məhsulların çatdırılması yalnız Azərbaycan Respublikasının dövlət sərhədləri ilə məhdudlaşır. <br>
                    18. Digər istək qeyd edilməyibsə sifariş şəxsən alıcıya və/və ya qeyd etdiyi ünvanda olan istənilən 3-cü şəxsə təhvil verilir. <br>
                    19. Göndərilmiş məhsulu qəbul edən alıcı (və ya 3-cü şəxs) öz sifarişini kuryerdən qəbul edərkən yerində məhsul(lar)a baxış keçirməlidir. Baxış keçirdikdən sonra alıcı (və ya 3-cü şəxs) sifarişin çatıdılmasını təsdiq edən sənədi imzalayır və bununla məhsul(lar)a dair hər hansı iddiasının olmadığını bəyan edir. <br>
                    20. Müvafiq təhvil-təslim aktı qarşılıqlı imzalandıqdan sonra mala dəymiş zərərə görə alıcı məsuliyyət daşıyır. <br>
                    21. Alıcıya təqdim olunan məhsulları üzərində qanunvericiliklə müəyyən olunmuş bütün texniki və s. zəruri sənədlər verilir. <br>
                    22. Saytda satılan məhsulların qiyməti ƏDV daxil olmaqla Azərbaycan manatı (AZN) ilə göstərilir.  <br>
                    23. Əgər saytda malın qiyməti səhv göstərilibsə, satıcı sifarişin edilməsindən asılı olmayaraq məhsulu geri götürüb ödənişi alıcıya qaytarır. <br>
                    24. Saytda malın qiyməti satıcı tərəfindən birtərəfli qaydada dəyişdirilə bilər. <br>
                    25. Bank kartı vasitəsilə onlayn ödəniş edilərkən bank xidməti göstərən şirkət əməliyyatın dələduzluq və digər qeyri-qanuni məqsədlərlə həyata keçirildiyini müəyyən edərsə, ödənişi ləğv edə bilər. Bu cür hallardan yaranan mübahisələrə görə satıcı/saytın mülkiyyətçisi məsuliyyət daşımır. <br>
                    26. Satıcı/saytın mülkiyyətçisi aşağıdakı mülahizəyə əsasən alıcının sifarişini ləğv edə bilər: <br>
                    - Əgər alıcı 3 dəfə ard-arda hər hansı məhsulu almaqdan əsassız surətdə imtina edirsə; <br>
                    - Əgər alıcı tərəfindən qeyri-qanuni əməliyyatların həyata keçirilməsi şübhəsi varsa, habelə qeyri-etik davranış nümayiş elətdirirsə. <br>
                    Qeyd olunan hərəkətlər istehlakçılara münasibətdə ayrı-seçkilik kimi deyil, satıcının/saytın mülkiyyətçisinin maddi itkisinin qarşısının alınması kimi başa düşülməlidir. <br>
                    27. Məhsulların geri qaytarılması şərtləri “İstehlakçıların hüquqlarının müdafiəsi haqqında” qanunla tənzimlənir. Əgər satıcının təqsiri səbəbindən olmayan hallarda məhsul qaytarılırsa, qaytarılma ilə bağlı xərclər alıcıdan tutulur. <br>
                    28. Alt paltarları, corablar və qanunvericiliyə əsasən dəyişdirilməli olmayan digər məhsullar dəyişdirilə bilməz. <br>
                    29. Məhsulun təyinatına uyğun olmayan formada istifadəsi nəticəsində alıcıya dəymiş zərərə görə satıcı/saytın mülkiyyətçisi məsuliyyət daşımır. <br>
                    30. Saytdan istifadə nəticəsində fərdi məlumatlardan istifadə üzrə münasibətlər “Fərdi məlumatlar haqqında” Azərbaycan Respublikasının qanunu ilə tənzimlənir. <br>
                    31. Satıcının ofisi əmək qanunverciliyinin tələblərinə müvafiq olaraq iş saatlarında fəaliyyət göstərir. <br>
                    32. Bu razılaşmadan irəli gələn və ya onunla, o cümlədən onun təfsiri, icrası, xitamı və etibarsızlığı ilə bağlı yaranan bütün mübahisələr və ya iddialar, ilk növbədə tərəflər arasında vicdanla və dostcasına danışıqlar yolu ilə həll edilir. Əgər bu cür mübahisə 5 (beş) iş günü ərzində tərəflər arasında həll edilməzsə, bu halda həmin mübahisə Azərbaycan Respublikasının müvafiq məhkəmələri tərəfindən həll edilir. <br>
                    33. Satıcıya qarşı iddialar saytdadakı əlaqə vasitələri ilə bildirilə və ya info@cinici.az ünvanına yazıla bilər. Müraciətlərə ən qısa vaxt ərzində baxılır.
                </p>
            </div>
        </div>
    </div>
</section>