<section class="section-1-faq">
    <div class="container">
        <div class="row">
            <div class="h3-div">
                <h3>
                    (TEZ-TEZ VERİLƏN SUALLAR)
                </h3>
            </div>
            <div class="col-lg-12">
                <strong>Çatdırılma üçün xidmət haqqı nə qədərdir?</strong>
                <p>Çatdırılma üçün xidmət haqqı 50 AZN-dək alış-veriş üçün 5 AZN təşkil edir. 50 AZN-dən yuxarı sifarişlər üçün çatdırılma ödənişsizdir.</p>
                <strong>Hansı ərazilərə çatdırılma edirsiniz, rayonlara çatıdırılma varmı?</strong>
                <p>Hal-hazırda çatdırılma Bakı (ətraf qəsəbə və kəndlər daxil) və Xırdalan şəhərlərini əhatə edir.</p>
                <strong>Onlayn sifarişi ancaq saytdan verməliyik?</strong>
                <p>İstisna hallar ola bilər, bu halda WhatsApp (077 729 15 15) sifariş xətti-nə müraciət edə bilərsiniz. </p>
                <strong>Sifarişlərimiz hansı müddətə çatdırılır?</strong>
                <p>Sifarişlər 1-3 gün ərzində çatdırılır. Çatdırılma edilməmişdən bir neçə saat öncə ünvan və vaxt dəqiqləşdirməsi üçün müştəri ilə telefon zəngi vasitəsilə əlaqə saxlanılır. </p>
                <strong>Mağazanız varmı?</strong>
                <p>Bəli, Bakı şəhərinin müxətlif yerlərində yerləşən mağazalarımızın ünvanları ilə saytımızın aşağı sol küncündə qeyd edilən Mağazalar bölməsindən tanış ola bilərsiniz.</p>
                <strong>Ödəniş necə olunur?</strong>
                <p>Sifariş verən zaman “Qapıda ödəmə” və ya “Online ödəmə” variantlarından birini seçə bilərsiniz. </p>
                <strong>Geri qaytarma şərtləri necədir?</strong>
                <p>"İstehlakçıların hüquqlarının müdafiəsi haqqında" Azərbaycan Respublikasının Qanununun 15-ci maddəsinə əsasən Şərtlər və qaydaların 28-ci bəndindəki hallar istisna olmaqla siz aldığınız malı 14 gün ərzində qaytara və dəyişdirə bilərsiniz. Bunun üçün aldığınız malı üzərində etiketi və orijinal qablaşdırması qorunmaq şərti ilə çeki ilə birlikdə təqdim etməklə mağazalarımızdan hər hansı birinə yaxınlaşa bilərsiniz. Qeyd edək ki sizin rahatlığınız üçün çatdırılma zamanı sifariş verdiyiniz ölçüyə uyğun olaraq anbarda var olduğu təqdirdə bir ölçü kiçik və bir ölçü böyük variantlar da sizə təqdim ediləcəkdir. Bu halda siz yerində dəqiqləşdirmə ilə rahat seçim edə bilərsiniz.</p>
            </div>
        </div>
    </div>
</section>