@using CiniciFinal.Enums;
@inject CiniciFinal.Service.LayoutService layoutService
@{
    AppUser users = await layoutService.GetUserFullName();
    BasketVm basket = layoutService.GetBaskets();
    List<Product> products = layoutService.GetProducts();

}
@model HomeVM
@if (TempData["Subscribe"] != null)
{
    if ((bool)TempData["Subscribe"] == true)
    {
        <input type="hidden" id="subscribeSuccess" />
    }
    else
    {
        <input type="hidden" id="subscribeError" />

    }
}
<section id="slick">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="slider-content">
                    @foreach (var item in Model.Sliders)
                    {
                        <div class="slider-items">
                            <div>
                                <img src="~/uploads/sliders/@item.Image" alt="">
                            </div>
                            <div class="slider-words">
                                <h2>@item.Title1</h2>
                                <h2>@item.Title2</h2>
                                <button>@item.ButtonText</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-1">
    <div class="container">
        <h2>KOLLEKSIYA 2023</h2>
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <div class="section-1-img-div">
                    <a asp-controller="shop" asp-action="index" asp-route-gender="1">
                        <img src="~/assets/images/main photos/Qadin-kollek.png" alt="">
                    </a>
                </div>
                <div class="section-1-h5">
                    <h5>QADIN</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-1-img-div">
                    <a asp-controller="shop" asp-action="index" asp-route-gender="2">
                        <img src="~/assets/images/main photos/Kisi-kollek.png" alt="">
                    </a>
                </div>
                <div class="section-1-h5">
                    <h5>KİŞİ</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-1-img-div">
                    <a asp-controller="shop" asp-action="index" asp-route-gender="3">
                        <img src="~/assets/images/main photos/Usaq-kollek.png" alt="">

                    </a>
                </div>
                <div class="section-1-h5">
                    <h5>UŞAQ</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 position-relative">
                <div>
                    <div class="linear"></div>
                    <div class="box"><img src="~/assets/images/main photos/bags.png" alt=""></div>
                </div>
                <div class="h2-and-button">
                    <h2>QADIN ÇANTALARI</h2>
                    <button>İNDİ AL</button>
                </div>
            </div>
            <div class="col-lg-6 position-relative">
                <div>
                    <div class="linear"></div>
                    <div class="box"><img src="~/assets/images/main photos/man-acc (1).png" alt=""></div>
                </div>
                <div class="h2-and-button">
                    <h2>KİŞİ AKSESUARLARI</h2>
                    <button>İNDİ AL</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container">
        <div>
            <h2>YENİ ƏLAVƏ OLUNAN MƏHSULLAR</h2>
        </div>
        <div class="row">
            <div class="slider-content2">
       @*        @foreach (var item in Model)
                {
                                    <div class="slider-items2 col-lg-3">
                    <div>
                            <div><img src="~/assets/images/products/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.Image" alt=""></div>
                    </div>
                    <div>
                        <h5>Silversun Uşaq Kombinezon</h5>
                        <p>Kod:84494</p>
                        <span>₼ 48,50</span>
                    </div>
                </div>
                }*@
            </div>
        </div>
    </div>
</section>

@section Scripts{
                               <script>
            $(document).ready(function () {
                if ($("#subscribeSuccess").length) {
                    toastr["success"]("Uğurlu əməliyyət!", "Salam siz artıq səhifədəki yeniliklərdən xəbərdar olacaqsınız")
                }
                else if ($("#subscribeError").length) {
                    toastr["error"]("Xəta baş verdi!", "Bu Email istifadə olunub və ya başqa səbəbdən...")
                }
            })
        </script>
                    }