<section class="section-1-privacy">
    <div class="container">
        <div class="row">
            <div class="h3-div">
                <h3>
                    GİZLİLİK SİYASƏTİ
                </h3>
            </div>
            <div class="col-lg-12">
                <p>
                    Hörmətli müştəri, məlumatlarınızın gizliliyinin qorunması bizim üçün çox vacib amillərdən biridir. Nəzərinizə çatdırırıq ki, “Fərdi məlumatlar haqqında” Azərbaycan Respublikası Qanununun 5.2-ci maddəsinin tələblərinə uyğun olaraq, elektron poçt ünvanı, telefon nömrəsi və ya bu kimi  şəxsi məlumatlar razılığınız olmadan digər üçüncü şəxsə və ya quruma ötürülmür. Saytımız şəxsi məlumatlarınızı yalnız xidmətlərimiz və sayt haqqında xəbərlər, eləcə də yeniliklər barədə sizi məlumatlandırmaq məqsədilə əlaqə üçün istifadə edəcək. Bu “Gizlilik Siyasəti” adlanan bölmə müasir informasiya texnologiyalarının bizə verdiyiniz məlumatların toplanmasında və istifadəsindəki əhəmiyyətini əks etdirmək üçün hazırlanmışdır. “Gizlilik Siyasəti”ndə satıcıya edilən istinadlar saytımıza münasibətdə istifadə olunur və alıcıya edilən istinadlar fərdi məlumatların subyektinə münasibətdə istifadə olunur. <br>
                    <br>
                    Bu “Gizlilik Siyasəti” www.cinici.az saytında toplanan məlumatlara aiddir. Saytımız sizin istifadəçi və ya üzv (saytımızda qeydiyyatdan keçmiş şəxs) olmağınızdan asılı olmayaraq, məlumatlarınızın məxfiliyinə daim diqqətlə yanaşır və sizə aid fərdi məlumatların mühafizəsini təmin edir. Məlumatlarınız serverimizdə saxlanılır və üçüncü şəxslərin müdaxiləsinin qarşını almaq üçün zəruri texniki imkanlardan istifadə edirik. Saytdan istifadə etməklə, əlaqə vasitələrinizi daxil etməklə və ya qeydiyyatdan keçməklə, siz bu “Gizlilik Siyasəti” və onun şərtləri ilə razılaşdığınızı təsdiqləmiş və “Fərdi məlumatlar haqqında” Qanunun 8.1-ci maddəsinə uyğun olaraq sizə aid olan fərdi məlumatların toplanmasına və işlənməsinə dair yazılı razılıq vermiş hesab edilirsiniz. Bu razılıq tərəfinizdən saytda müəyyən olunmuş qaydalara uyğun olaraq qeydiyyatınız ləğv edildiyi müddətədək qüvvədədir. Həmin məlumatların toplanılması və işlənilməsi məqsədlərinə nail olunduqda və onların saxlanılması zərurəti aradan qalxdıqda həmin məlumatlar məhv ediləcəkdir. Hər hansı şərt və ya qayda ilə razı deyilsinizsə, xahiş edirik saytımızdan istifadə etməyəsiniz və ya “Fərdi məlumatlar haqqında” Qanunun 7.2-ci maddəsinə uyğun olaraq barənizdə məlumatların toplanılmamasına və işlənilməməsinə dair yazılı etirazınızı bizə təqdim edəsiniz. <br>
                    <br>
                    Nəzərinizə çatdırırıq ki, bu “Gizlilik Siyasəti” vaxtaşırı olaraq tərəfimizdən yenilənə və dəyişdirilə bilər. “Gizlilik Siyasəti”nə edilən hər hansı dəyişiklik barədə məlumat saytımızda yerləşdiriləcək və ya e-mail vasitəsilə sizə göndəriləcək. Hansı məlumatların toplanıldığı, necə istifadə edildiyi və ya hansı şərtlər daxilində aşkarlandığı barədə məlumatlı olmaq üçün bu səhifəni mütəmadi yoxlamaq vəzifəsi sizə aiddir. İstənilən halda, dəyişiklik edilmiş “Gizlilik Siyasəti” barədə sizin məlumat əldə edib-etməməyinizdən asılı olmayaraq, sizə münasibətdə tətbiq ediləcək. <br>
                    <br>
                    <strong>ŞƏXSİ OLMAYAN MƏLUMATLAR</strong> <br>
                    <br>
                    Qeyd edək ki, siz sayta daxil olaraq özünüz haqqında hər hansı şəxsi məlumatları verməyə də bilərsiniz. Bəzi hallarda sayta daxil olarkən sayt tərəfindən sizə aid olan, ancaq şəxsi əhəmiyyət kəsb etməyən məlumatlar avtomatik rejimdə qeydiyyata alına bilər. Bunlar “cookies” adlanaraq,  istifadə etdiyiniz internet brauzeri vasitəsilə sizin kompüterin yaddaşına göndərilən hərf və rəqəmlərdən ibarət işarələrdir. Bu cür məlumatlara sizin hansı internet brauzerdən istifadə etdiyiniz, kompüterinizin əməliyyat sistemi, internet şəbəkəsinin domen adı, İP ünvanınız, saytda baxdığınız səhifələr və ya hansı sayt/reklamdan bizim sayta yönlənməyiniz haqqında məlumatlar daxildir. <br>
                    <br>
                    Eyni zamanda, “cookies” və ya ona oxşar fayllar vasitəsilə kompüterinizə bəzi məlumatlar yerləşdirilə bilər. Əksər internet brauzerlərin köməyilə siz “cookies”i yaddaşdan silə, onların yaddaşda saxlanmasını  əngəlləyə və yaxud onların saxlanacağı haqqında xəbərdarlıq ala bilərsiniz. Lakin, nəzərə almaq lazımdır ki, həmin məlumatların qarşısını almaqla siz saytın bütün seçimlərindən yararlanmaq imkanından məhrum ola bilərsiniz. <br>
                    <br>
                    <strong>FƏRDİ MƏLUMATLAR</strong> <br>
                    <br>
                    “Fərdi məlumatlar haqqında” Qanunun 11.1-ci maddəsinə uyğun olaraq, sizdən istənilə biləcək, ancaq buradakı siyahı ilə məhdudlaşmayacaq fərdi məlumatlar aşağıdakılardır: <br>
                    – Ad və soyad; <br>
                    – E-mail; <br>
                    – Mobil nömrə; <br>
                    – Çatdırılma ünvanı; <br>
                    – Çinici üzvlük kartının nömrəsi; <br>
                    – Bank kartının nömrəsi.
                </p>
            </div>
        </div>
    </div>
</section>