    <section class="section-1-refund">
        <div class="container">
            <div class="row">
                <div class="h3-div">
                    <h3>
                        GERİ QAYTARMA ŞƏRTLƏRİ
                    </h3>
                </div>
                <div class="col-lg-12">
                    <p>"İstehlakçıların hüquqlarının müdafiəsi haqqında" Azərbaycan Respublikasının Qanununun 15-ci maddəsinə əsasən Şərtlər və qaydaların 28-ci bəndindəki hallar istisna olmaqla siz aldığınız malı 14 gün ərzində qaytara və dəyişdirə bilərsiniz. Bunun üçün aldığınız malı üzərində etiketi və orijinal qablaşdırması qorunmaq şərti ilə çeki ilə birlikdə təqdim etməklə mağazalarımızdan hər hansı birinə yaxınlaşa bilərsiniz. Qeyd edək ki sizin rahatlığınız üçün çatdırılma zamanı sifariş verdiyiniz ölçüyə uyğun olaraq anbarda var olduğu təqdirdə bir ölçü kiçik və bir ölçü böyük variantlar da sizə təqdim ediləcəkdir.. Bu halda siz yerində dəqiqləşdirmə ilə rahat seçim edə bilərsiniz.</p>
                </div>
            </div>
        </div>
    </section>