@model Slider
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/manage/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Slider Delete</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            < class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Slider</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Title 1: @Model.Title1</li>
                    <li class="list-group-item">Title 2: @Model.Title2</li>
                </ul>
                <div class="card-body">
                    <form asp-action="delete" method="post">
                        <button type="submit" class="card-link">Delete</button>
                        <a asp-action="index" class="card-link">Go Back</a>
                    </form>
                    @*   <a asp-action="delete" asp-route-id="@Model.Id" class="card-link">Delete</a>
                    <a asp-action="index" class="card-link">Go Back</a>*@

                </div>
            </div>
        </div>
    </div>
</div>
